html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
  margin: 0;
  padding: 0;
}

body {
  color: #433529;
  font: 16px/1.6 "Muli", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'League Spartan', sans-serif;
  text-align: center;
}
p {
  font-family: 'Sanchez', serif;
}

.App-header {
  background-color: #e9b972;
  color: #275251;
  font-family: 'League Spartan', sans-serif;
}

.btn {
  background-color:"#275251";
  color:"#ece0cd";
  margin:"5px"
}
